<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <div class="container">
            <div class="cidade">
                <p>{{ cidade }}</p>
            </div>
        </div>
        <div class="container">
            <div class="data-container">
                <div class="data">
                    <p>{{ data }}°C</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="temperatura">
                <p>{{ temperatura }}°C</p>
            </div>
        </div>
    </div>
</body>
</html>
