<div class="body">
    <div class="container">
        <div class="cidade">
            <p>{{ cidade }}</p>
        </div>
    </div>
    <div class="container">
        <div class="data-container">
            <div class="data">
                <p>{{ data }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="clima-container">
            <div class="clima">
                <p>{{descricao}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="temperatura">
            <p>{{ temperatura }}<img src="../../assets/termostato.png" class="img-termostato"></p>
        </div>
    </div>

    <div>
        <div class="text-previsao-semana">
            <p>Previsao da semana <a (click)="navigateToPrevisaoSemana()"><img src="../../assets/expandir.png" class="img-expandir"></a></p>
        </div>
    </div>

    <div class="previsao-card" *ngFor="let registro of registros">
        <div class="previsao-card-text">
            <p class="previsao-card-info">{{registro.temperatura}}</p>
            <p class="previsao-card-info-img"><img src="../../assets/{{registro.img}}" class="img-expandir"></p>
            <p class="previsao-card-info">{{registro.data}}</p>
          </div>        
    </div>
</div>